<mat-card>
  <mat-card-title>
    <span *ngIf="quiz.id">Edit Quiz</span>
    <span *ngIf="!quiz.id">New Quiz</span>
  </mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field class="fullwidth">
        <input
          [(ngModel)]="quiz.title"
          matInput
          placeholder="Quiz"
          name="title"
        />
      </mat-form-field>

      <br />
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-button
      color="primary"
      *ngIf="quiz.id"
      (click)="api.putQuiz(quiz)"
    >
      EDIT
    </button>
    <button mat-button color="primary" *ngIf="quiz.id" (click)="quiz = {}">
      NEW
    </button>
    <button
      mat-button
      color="primary"
      *ngIf="quiz.id"
      [routerLink]="['/question', quiz.id]"
    >
      EDIT QUESTIONS
    </button>
    <button mat-button color="primary" *ngIf="!quiz.id" (click)="post(quiz)">
      POST
    </button>
  </mat-card-actions>
</mat-card>
